{% extends "base.html" %}

{% block body %} 

<!-- event template -->
<script type="text/template" id="event">
  <!-- this might need to be a diff type -->
  <%- e %>
</script>

<script type="text/template" id="username">
  <%- u %>
</script>

<script type="text/template" id="password">
  <%- p %>
</script>

<script type="text/template" id="rating">
  <%- r %>
</script>

<script type="text/template" id="comment">
  <%- c %>
</script>

<script type="text/template" id="email">
  <%- email %>
</script>

<script type="text/template" id="pic">
  <%- pic %>
</script>

<!-- addEvent -->
<script type="text/template" id="addEvent">
    
  <ol></ol>
  <!-- change these from textarea to what they need to be -->
  <h3>Create an event </h3>
  <h4>Name</h4>
  <input type="text" id="newEvent"></input>
  <h4>Number of people needed</h4>
  <input type="number" id="numb"></input>
  <h4>Description of event</h4>
  <textArea type="text" id="desc"></textArea>
  <h4>Total price</h4>
  <input type="number" id="total"></input>
  <h4>Price per person</h4>
  <input type="number" id="price"></input>
  <!-- need to integrate maps for 
       <textArea type="text" id="loc"></textArea>
       -->
  <button class="pure-button pure-button-primary" id="add">Create</button>
</script>

<!-- edit personal info, I only started with username -->
<script type="text/template" id="personalInfo">
  <ol></ol>
  <h3>Edit your username</h3>
  <!-- how would we list the original username? -->
  <input type="text" id="name"></input>
  
  <!-- hmmmmmmmmm -->
  <h3>Edit your password</h3>
  <input type="password" id="pword"></input>
  
  <h3>Edit your email</h3>
  <input type="email" id="email_address"></input>
  
  <h3> Upload new picture</h3>
  <input type="file" id="picture"></input> <!-- need upload thing -->
  
  <button class="pure-button pure-button-primary" id="change">Create</button>
</script>


<script type="text/template" id="otherUser">
  <ol></ol>

  <h3>Leave a review</h3>
  <h4>Title</h4>
  <input type="text" id="title"></input>
  <h4>Stars?</h4>
  <input type="number" id="stars"></input> <!-- change to stars -->
  <h4>Leave a comment</h4>
  <textArea type="text" id="comment"></textArea>
  <button class="pure-button pure-button-primary" id="submit_comment">Create</button>
</script>

<!-- old stuff -->
<!--
<script type="text/template" id="word">
    <%- w %>
</script>

<script type="text/template" id="stuff">
    
    <ol></ol>
  <h3> Enter a word. Yay. </h3>
  <textArea type="text" id="newWord"></textArea>
  <button class="pure-button pure-button-primary" id="add">YEAAHHHHH</button>
</script>
-->

<div class="pure-g">
  <div class="pure-u-1-12"></div>
  <div class="pure-u-5-6">
  <h1> RULO YAY </h1>

  <h3> POSTS: </h3>
   <!-- <div id="game"></div> -->
   <div id="header"></div>
   <div id="main_body"></div>
    
<script src="static/app.js"></script>

{% endblock body %} 
