{% extends "base.html" %}

{% block body %} 

<!-- event template -->
<script type="text/template" id="event">
  <%- e %>
</script>

<script type="text/template" id="username">
  <%- u %>
</script>


<!-- addEvent -->
<script type="text/template" id="addEvent">
    
    <ol></ol>
  <h3>Create an event </h3>
  <textArea type="text" id="newEvent"></textArea>
  <button class="pure-button pure-button-primary" id="add">Create</button>
</script>

<!-- edit personal info, I only started with username -->
<script type="text/template" id="personalInfo">
  <ol></ol>
  <h3>Edit your username</h3>
  <!-- how would we list the original username? -->
  <textArea type="text" id="name"></textArea>
  <button class="pure-button pure-button-primary" id="change">Create</button>
</script>

<!-- old stuff -->
<!--
<script type="text/template" id="word">
    <%- w %>
</script>

<script type="text/template" id="stuff">
    
    <ol></ol>
  <h3> Enter a word. Yay. </h3>
  <textArea type="text" id="newWord"></textArea>
  <button class="pure-button pure-button-primary" id="add">YEAAHHHHH</button>
</script>
-->

<div class="pure-g">
  <div class="pure-u-1-12"></div>
  <div class="pure-u-5-6">
  <h1> RULO YAY </h1>

  <h3> POSTS: </h3>
   <!-- <div id="game"></div> -->
   <div id="header"></div>
   <div id="main_body"></div>
    
<script src="static/app.js"></script>

{% endblock body %} 
