{% extends 'layout.html' %}


{% block body %}
<script src="http://static.dudamobile.com/DM_redirect.js" type="text/javascript"></script>
<script type="text/javascript">DM_redirect("http://mobile.dudamobile.com/site/10423640185");</script>
<script type="text/javascript" src="static/cropper/lib/prototype.js" language="javascript"></script>
<script type="text/javascript" src="static/cropper/lib/script/src/scriptaculous.js?load=effects,builder,dragdrop" language="javascript"></script>
<script type="text/javascript" src="static/cropper/cropper.js" language="javascript"></script>
<section class="blue-grey">
<h1>Croppingn</h1>
<br>
<br>
 <script type="text/javascript" language="javascript">
function onEndCrop( coords, dimensions ) {
$( 'x1' ).value = coords.x1;
$( 'y1' ).value = coords.y1;
$( 'x2' ).value = coords.x2;
$( 'y2' ).value = coords.y2;
$( 'width' ).value = dimensions.width;
$( 'height' ).value = dimensions.height;
}
</script>
<div id="testWrap">

<img src= {{ url_for('static', filename = "profilePictures/"~profile) }} alt="Test image" id="testImage" width="500" height="333" />
 </div>
    <script type="text/javascript" language="javascript">

Event.observe( window, 'load', function() {
        new Cropper.Img(
            'testImage',
            {
                ratioDim: {
                    x: 220,
                    y: 220
                },
                displayOnInit: true,
                onEndCrop: onEndCrop
            }
        );
    } );
</script>

<div id="results">
		<h2>Crop values:</h2>
		<div>
			<label for="x1">x1:</label>
			<input type="text" name="x1" id="x1" size="4" />
		</div>
		<div>
			<label for="y1">y1:</label>
			<input type="text" name="y1" id="y1" size="4" />
		</div>
		<div>
			<label for="x2">x2:</label>
			<input type="text" name="x2" id="x2" size="4" />
		</div>
		<div>
			<label for="y2">y2:</label>
			<input type="text" name="y2" id="y2" size="4" />
		</div>
		<div>
			<label for="width">width:</label>
			<input type="text" name="width" id="width" size="4" />
		</div>
		<div>
			<label for="height">height:</label>
			<input type="text" name="height" id="height" size="4" />
		</div>
	</div>



<img class="inside-shadow" src= {{ url_for('static', filename = "profilePictures/"~profile) }} height = "150" width="150"><br><br>
<div class='pure-g'>

<div class ="pure-u-1-3">

<form action="/proPic" method="post" enctype="multipart/form-data" class="pure-form pure-form-aligned">
  <div class="pure-control-group">
    <!-- <label for="pic">Picture</label> -->
    <input id="pic" name="pic"  type="file" accept="image/*"></div><br>
  <button type="submit" class="pure-button button-secondary
  button-small">Replace with uploaded Picture</button>
</form>


{% endblock %}
