{% extends 'layout.html' %}

{% block body %}
<script src="http://static.dudamobile.com/DM_redirect.js" type="text/javascript"></script>
<script type="text/javascript">DM_redirect("http://mobile.dudamobile.com/site/10423640185");</script>
<section class="blue-grey">
<h1>{{udict['fname']}}, Create an event! </h1>

<!-- <form action="/create_event_process" method="post" class="pure-form pure-form-aligned">
  -->
<div class="pure-form pure-form-aligned formlike">
    <div class="pure-control-group">
      <label for="ename">Event Name</label>
      <input id="ename" name="ename" type="text"
	         autocorrect="off" autocapitalize="words"
	         placeholder="Let's get Turkeys!"></div><br>
    <div class="pure-control-group">
      <label for="numb">Max People Needed</label>
      <input id="numb" name="numb" type="number" placeholder="4"></div><br>
    <div class="pure-control-group">
      <label for="total">Total Price</label>
      <input id="total" name="total" type="number" placeholder="3.00"></div><br>
    <div class="pure-control-group">
      <label for="numb">Price Per Person</label>
      <input id="price" name="price" type="number" placeholder="1.00"></div><br>
    <div class="pure-control-group">
      <label for="desc">Description</label>
      <textarea name="desc" id="desc" placeholder="What is your event?" cols="40"
                rows="5"></textarea></div><br>

    <div class="pure-control-group">
      <label for="loc">Location</label>
      <input id="place1" name="place1" type="text" placeholder="345 Chambers St. NY">
      </div>
      Place a marker to confirm address.
      <button name="mark-address" id="mark-address">Place Marker</button> <br>
      <button name="current" id="current">Use Current Location</button> <br>
      Select a Mode of Travel to view travel time and distance (defaults to driving): <br>
      <input type="radio" name="mode" value="DRIVING"> Driving <br>
      <input type="radio" name="mode" value="WALKING"> Walking <br>
      <input type="radio" name="mode" value="BICYCLING"> Bicycling <br>
      <input type="radio" name="mode" value="TRANSIT"> Transit <br>

      <div id="route-info"> </div>
      <div id="map-canvas"> </div>

  <input id="loc" name="loc" type="hidden" value="">
  <input id="dist" name="dist" type="hidden" value="">
  <input id="address" name="address" type="hidden" value="">

</div>

    <button type="submit" onclick="action()"  class="pure-button pure-button-primary" id="go">Go!</button>
    <input name="long" value=latitude id="long" type="hidden">
    <input name="lat" value=longitude id="lat" type="hidden">


<!-- </form> -->

<br>

</section>


<script src="../static/js/createevents.js"></script>

{% endblock %}
