<html>

  <head>
    <style type="text/css">
      html, body, 
      #map-canvas { height: 400px; width: 500px; margin: 10px; padding: 0;}
    </style>
    <script type="text/javascript"
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2ie2fjoFfkQMGGPZotTg1rxsEcaYuDHY">
    </script>
  </head>
  <div id="form">
    Place <input type="text" name="place" id="address">
    <button type="submit" name="mark-address" id="mark-address">Mark</button>
    <button type="submit" name="current" id="current">Current</button>
  </div>
  <div id="map-canvas"></div>
  <div id="new-div">
    Markers:
    <ol id="list">
    </ol>
  </div>
  <body>
    <script type="text/javascript" src="../static/js/maps.js"></script>
  </body>

</html>
