{% extends 'layout.html' %}

{% block body %}

<script src="http://static.dudamobile.com/DM_redirect.js" type="text/javascript"></script>
<script type="text/javascript">DM_redirect("http://mobile.dudamobile.com/site/10423640185");</script>

<section class="blue-grey">
<h2> Login </h2>
<form action="/verify" method="post" class="pure-form pure-form-aligned">
  <fieldset>
    <div class="pure-control-group">
      <label for="uname">Username</label>
      <input id="uname" name="uname" type="text"
	     autocorrect="off" autocapitalize="words"
	     placeholder="Username"></div><br>
    <div class="pure-control-group">
      <label for="pw">Password</label>
      <input id="pw" name="pw" type="password" placeholder="Password"></div><br>

    <button type="submit" class="pure-button pure-button-primary button-small">Login</button>
  </fieldset>
      </section>
<br>
<br>
<br>

  {% endblock %}
